<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <br>
        <li><a href="/movies">Movies List</a></li>
        <li><a href="/movies/new">New movies</a></li>
        <li><a href="/movies/recommended">Recommended movies</a></li>
        <br>
        <li><a href="/genres">Genres</a></li>
    </ul>
</nav>
<br>